# Virtual environment
.env
.venv
venv/
# Pycharm
.idea
.mypy_cache
.coverage
# dependencies
node_modules
# production
dist
# misc
.DS_Store
npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
.idea
package-lock.json