@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url('../fonts/Roboto-light.woff2') format('woff2'), url('../fonts/Roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url('../fonts/Roboto-medium.woff2') format('woff2'), url('../fonts/Roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
