include ../data/config
include ../components/**/*.pug

block variables

doctype html
html
    head
        include ../parts/head
    body(class=bodyClass)
        block header
            include ../parts/header
        block content

        block footer
            include ../parts/footer

        block scripts
            script(src='js/application.min.js')